<a href="https://colab.research.google.com/github/henrique-sk/Imersao-Dados-4-Alura/blob/master/Imers%C3%A3o_Dados_4_Aula01%2BDesafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo-mersao.1647533644.svg]()

# Aula 1

In [ ]:
import pandas as pd

url = 'https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv'
dados = pd.read_csv(url)

In [ ]:
dados.head()

In [ ]:
type(dados)

In [ ]:
dados

In [ ]:
dados.sample(10)

In [ ]:
dados['Bairro'].sample(10)

In [ ]:
dados['Bairro'][6522]

In [ ]:
dados.info()

In [ ]:
media_metragem = dados.Metragem.mean()
print(f'{media_metragem:.2f}')

In [ ]:
dados["Metragem"].mean()

In [ ]:
(dados['Bairro'] == 'Vila Mariana')*1

In [ ]:
sum(dados['Bairro'] == 'Vila Mariana')

In [ ]:
tem_imoveis_vila_mariana = (dados['Bairro'] == 'Vila Mariana')
tem_imoveis_vila_mariana

In [ ]:
imoveis_vila_mariana = dados[tem_imoveis_vila_mariana]
imoveis_vila_mariana

In [ ]:
imoveis_vila_mariana['Metragem'].mean()

In [ ]:
dados['Bairro'].value_counts()

In [ ]:
qtd_imoveis_bairro = dados['Bairro'].value_counts()
qtd_imoveis_bairro.head(10).plot.bar()

## Desafios:

1 - Realizar a m√©dia de metragem para cada um dos bairros

In [ ]:
media_metragem_por_bairro = dados.groupby('Bairro')['Metragem'].mean()
media_metragem_por_bairro

2 - Duas formas de selecionar os dados por bairro (consultar os m√©todos na documenta√ß√£o do pandas)

In [ ]:
# Desafio 2.1
dados.loc[dados['Bairro']=='Vila Mariana']

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
100,Rua Pero Correia,Vila Mariana,S√£o Paulo,250,3,3,1,R$ 1.350.000
120,Pra√ßa Doutor Carvalho Franco,Vila Mariana,S√£o Paulo,250,3,5,2,R$ 2.450.000
155,Rua Professor Jo√£o Marinho,Vila Mariana,S√£o Paulo,170,3,4,2,R$ 1.490.000
160,NaN,Vila Mariana,S√£o Paulo,228,4,5,3,R$ 2.200.000
334,"Rua Pero Correia, 892",Vila Mariana,S√£o Paulo,350,6,4,10,R$ 1.700.000
...,...,...,...,...,...,...,...,...
9645,Rua Sousa Ramos,Vila Mariana,S√£o Paulo,285,3,5,5,R$ 1.650.000
9701,Rua Benito Juarez,Vila Mariana,S√£o Paulo,171,3,2,4,R$ 1.650.000
9737,Rua Benito Juarez,Vila Mariana,S√£o Paulo,171,3,2,4,R$ 1.650.000
9807,NaN,Vila Mariana,S√£o Paulo,275,3,1,6,R$ 1.500.000
9852,Rua Fran√ßa Pinto,Vila Mariana,S√£o Paulo,280,3,3,4,R$ 1.600.000

In [ ]:
# Desafio 2.2
bairros = pd.Series()
# bairros = pd.Series(['Vila Mariana'], name='Bairro')
# dados['Bairro']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

3 - Explorar alguns gr√°ficos na documenta√ß√£o e aplicar nas demais colunas  do DF, tentar colocar alguma conclus√£o

In [ ]:
#Desafio 3
valor_imoveis_bairro = dados.groupby('Bairro')['Valor'].mean()
valor_imoveis_bairro

4 - Pegar outras estat√≠sticas dos dados, m√©dia, mediana, min, max

In [ ]:
# Desafio 4
dados.describe()

5 - Descobrir quais s√£o os bairros que n√£o tem nome de Rua

In [ ]:
# Desafio 5

dados.loc[dados['Bairro']]